@import "tailwindcss";
@import "tw-animate-css";
@import "./iosevka.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-heading: Iosevka, sans-serif;
  --color-brand: var(--brand);
  --srcery-black: rgb(28, 27, 25);
  --srcery-black-bright: rgb(145, 129, 117);
  --srcery-black-hard: rgb(18, 18, 18);
  --srcery-white: rgb(208, 191, 161);
  --srcery-white-bright: rgb(252, 232, 195);
  --srcery-white-hard: rgb(180, 161, 131);
  --srcery-gray-1: rgb(88, 88, 88);
  --srcery-gray-2: rgb(78, 78, 78);
  --srcery-gray-3: rgb(68, 68, 68);
  --srcery-gray-4: rgb(58, 58, 58);
  --srcery-gray-5: rgb(48, 48, 48);
  --srcery-gray-6: rgb(38, 38, 38);
  --srcery-silver: rgb(180, 180, 180);
  --srcery-silver-bright: rgb(220, 220, 220);
  --srcery-silver-hard: rgb(140, 140, 140);
  --srcery-red: rgb(239, 47, 39);
  --srcery-red-bright: rgb(247, 83, 65);
  --srcery-red-hard: rgb(160, 37, 30);
  --srcery-stone: rgb(180, 160, 140);
  --srcery-stone-bright: rgb(200, 180, 160);
  --srcery-stone-hard: rgb(160, 140, 120);
  --srcery-orange: rgb(215, 95, 0);
  --srcery-orange-bright: rgb(255, 135, 0);
  --srcery-orange-hard: rgb(145, 75, 0);
  --srcery-yellow: rgb(251, 184, 41);
  --srcery-yellow-bright: rgb(254, 208, 110);
  --srcery-yellow-hard: rgb(180, 130, 0);
  --srcery-green: rgb(81, 159, 80);
  --srcery-green-bright: rgb(152, 188, 55);
  --srcery-green-hard: rgb(30, 100, 30);
  --srcery-blue: rgb(44, 120, 191);
  --srcery-blue-bright: rgb(104, 168, 228);
  --srcery-blue-hard: rgb(0, 0, 128);
  --srcery-cyan: rgb(10, 174, 179);
  --srcery-cyan-bright: rgb(83, 253, 233);
  --srcery-cyan-hard: rgb(0, 128, 128);
  --srcery-magenta: rgb(225, 44, 109);
  --srcery-magenta-bright: rgb(255, 92, 143);
  --srcery-magenta-hard: rgb(128, 0, 64);
  --color-srcery-magenta-hard: var(----srcery-magenta-hard);
  --color-srcery-magenta-bright: var(----srcery-magenta-bright);
  --color-srcery-magenta: var(----srcery-magenta);
  --color-srcery-cyan-hard: var(----srcery-cyan-hard);
  --color-srcery-cyan-bright: var(----srcery-cyan-bright);
  --color-srcery-cyan: var(----srcery-cyan);
  --color-srcery-blue-hard: var(----srcery-blue-hard);
  --color-srcery-blue-bright: var(----srcery-blue-bright);
  --color-srcery-blue: var(----srcery-blue);
  --color-srcery-green-hard: var(----srcery-green-hard);
  --color-srcery-green-bright: var(----srcery-green-bright);
  --color-srcery-green: var(----srcery-green);
  --color-srcery-yellow-hard: var(----srcery-yellow-hard);
  --color-srcery-yellow-bright: var(----srcery-yellow-bright);
  --color-srcery-yellow: var(----srcery-yellow);
  --color-srcery-orange-hard: var(----srcery-orange-hard);
  --color-srcery-orange-bright: var(----srcery-orange-bright);
  --color-srcery-orange: var(----srcery-orange);
  --color-srcery-stone-hard: var(----srcery-stone-hard);
  --color-srcery-stone-bright: var(----srcery-stone-bright);
  --color-srcery-stone: var(----srcery-stone);
  --color-srcery-red-hard: var(----srcery-red-hard);
  --color-srcery-red-bright: var(----srcery-red-bright);
  --color-srcery-red: var(----srcery-red);
  --color-srcery-silver-hard: var(----srcery-silver-hard);
  --color-srcery-silver-bright: var(----srcery-silver-bright);
  --color-srcery-silver: var(----srcery-silver);
  --color-srcery-gray-6: var(----srcery-gray-6);
  --color-srcery-gray-5: var(----srcery-gray-5);
  --color-srcery-gray-4: var(----srcery-gray-4);
  --color-srcery-gray-3: var(----srcery-gray-3);
  --color-srcery-gray-2: var(----srcery-gray-2);
  --color-srcery-gray-1: var(----srcery-gray-1);
  --color-srcery-white-hard: var(----srcery-white-hard);
  --color-srcery-white-bright: var(----srcery-white-bright);
  --color-srcery-white: var(----srcery-white);
  --color-srcery-black-hard: var(----srcery-black-hard);
  --color-srcery-black-bright: var(----srcery-black-bright);
  --color-srcery-black: var(----srcery-black);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --brand: hsl(20 14.3% 4.1%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --brand: hsl(20 14.3% 4.1%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
